{% extends "base.html" %}

{% load wagtailcore_tags %}
{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main" style="padding-top:20px">
        <div class="nhsuk-grid-row nhsuk-u-maring-top-0">
            <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-0">
                {% if question_number > 0 and question_number < total_questions %}
                <div class="nhsuk-hint" id="contact-hint">Question {{ question_number }} of {{ total_questions }}</div>
                {% endif %}
                <form action="{% pageurl page %}?p={{ next_step }}" method="POST">
                    {% csrf_token %}
                    {{ questionnaire_elements | safe }}
                    {% if question_number == 0 %}
                    <button class="nhsuk-button" type="submit">Start quiz</button>
                    {% endif %}
                    {% if question_number > 0 and question_number <= total_questions %}
                    <button class="nhsuk-button" type="submit">
                        Next question
                    </button>
                    {% endif %}
                    {{ footer_elements | safe}}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}